<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <meta http-equiv="Refresh" content="15">
</head> 

<p>
<% device_model = DeviceModel.find(device.model) %>
<p><strong><%= "(#{device.id}) #{device.name}" %></strong> (<%= device_model.name %>)</p>

<% device_model.observables.each do |observable| %>
  <% dpt = DataPointType.find(observable.data_point_type_id) %>
  <%= dpt.name %>: 
  <% @last_point = device.data_points.order(:updated_at).select {|i| i.data_point_type_id == observable.data_point_type_id}.last %>
  last value = <%= @last_point.value if @last_point %> <%= dpt.unit %>

  <p>

  <!-- see https://stackoverflow.com/a/24456817/5599687 -->
  <% @data_string = %Q[{"data": ]+"["+device.data_points.select {|i| i.data_point_type_id == dpt.id}.last(50).map {|x| %Q[{"x": #{x.updated_at.to_i}, "t": "#{x.updated_at.strftime("%Y-%m-%d %H:%M:%S")}", "y": #{x.value}}] }.to_sentence(two_words_connector: ",", last_word_connector: ",")+"]"+%Q[, "observable": {"name": "#{dpt.name}", "unit": "#{dpt.unit}"}}] %>
  <div id="scatter_area_<%= dpt.name %>"></div>

  <%= javascript_tag do %>

  // set the dimensions and margins of the graph
  var margin = {top: 10, right: 40, bottom: 30, left: 30},
    width = window.innerWidth - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

  // append the svg object to the body of the page
  var svg_obj = d3.select("#scatter_area_<%= dpt.name %>")
    .append("svg")
      .attr("width", width )
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  //data_object = JSON.parse($("#data_plot_<%= dpt.name %>").attr('data_plot'))
  data_object = JSON.parse(<%= @data_string.to_json.html_safe %>)
  console.log(data_object)

  all_points = data_object.data //data_object.reduce((pre, cur, idx) => [...pre, ...cur.data], Array())
  times = all_points.map(d=>Date.parse(d.t))
  min_x = times.reduce((pre, cur) => Math.min(pre, cur), Number.POSITIVE_INFINITY)
  max_x = times.reduce((pre, cur) => Math.max(pre, cur), Number.NEGATIVE_INFINITY)
  min_y = all_points.reduce((pre, cur) => Math.min(pre, cur.y), Number.POSITIVE_INFINITY)
  max_y = all_points.reduce((pre, cur) => Math.max(pre, cur.y), Number.NEGATIVE_INFINITY)

  var x = d3.scaleLinear()
    .domain([min_x, max_x])
    .range([0, width]);
  var t_scale = d3.scaleTime()
    .domain([new Date(min_x), new Date(max_x)])
    .range([0, width]);
t_scale.ticks(10).map(d3.utcFormat("%I %p"))
  svg_obj
    .append('g')
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(t_scale));
  
  var y = d3.scaleLinear()
      .domain([min_y, max_y])
      .range([height, 0]);
  svg_obj
    .append('g')
    .call(d3.axisLeft(y));
    
  svg_obj
    .append('g')
    .selectAll("whatever")
    .data(data_object.data)
    .join("circle")
    .attr("cx", function(d){ return t_scale(new Date(Date.parse(d.t))) })
    .attr("cy", function(d){ return y(d.y) })
    .attr("r", 5);
  
  
  <% end %>
<% end %>

</p>

<p>
  <%= link_to 'Destroy Device', [device.location, device],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
</p>
