<%= form_with model: [ @location, @location.devices.build ] do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :model %><br>
    <%= form.collection_select :model, DeviceModel.order(:name), :id, :name %>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>

