<%= form_with model: device_model do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% device_model.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :data_point_type_ids %> <br>
    <p><%= form.collection_check_boxes :data_point_type_ids, DataPointType.order(:name), :id, :name %></p>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>

