<h1>Device Models</h1>
<p>
  <ul>
    <% @device_models.each do |device_model| %>
      <li>
        <%= link_to device_model.name, device_model %>
      </li>
    <% end %>
  </ul>
  <%= link_to "New DeviceModel", new_device_model_path %>
</p>

<hr>
<p> <%= link_to "Device Models", device_models_path %> </p>
<p> <%= link_to "Locations", locations_path %> </p>
