<h1><%= @device_model.name %></h1>

<% @device_model.observables.each do |observable| %>
  <% dpt = DataPointType.find(observable.data_point_type_id) %>
  <p><%= dpt.name %> [<%= dpt.unit %>]</p>
<% end %>


<ul>
  <li><%= link_to "Edit", edit_device_model_path(@device_model) %></li>
  <li><%= link_to "Destroy", device_model_path(@device_model),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<hr>
<p> <%= link_to "Device Models", device_models_path %> </p>
<p> <%= link_to "Locations", locations_path %> </p>

