 <div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1>Locations</h1>
    </div>
    <div class="col-md-3">
      <%= button_to "New Location", new_location_path, method: :get, class: 'btn btn-outline-primary' %>
    </div>
  </div>
</div>
<p>
  <ul>
    <% @locations.each do |location| %>
      <li>
        <%= link_to location.name, location %>: <%= location.description %>
      </li>
    <% end %>
  </ul>
</p>

