<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1><%= @location.name %></h1>
    </div>
    <div class="col-md-3">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Edit", edit_location_path(@location), class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <p> <%= link_to "Destroy", location_path(@location),
                method: :delete,
                data: { confirm: "Are you sure?" }, :class => 'nav-link' %> </p>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div>
  <h3><%= @location.description %></h3>



<h2>Devices</h2>
<%= render @location.devices %>

<h2>Add a device:</h2>
<%= render 'devices/form' %>

</div>
