<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script> 

<html>
  <head>
    <title>NtuityAssignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="p-1 text-center">
    <h2>Ntuity Assignment</h2>
  </div>


  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Device Models", device_models_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <p> <%= link_to "Locations", locations_path, :class => 'nav-link' %> </p>
      </li>
    </ul>
  </div>
</nav>


  <body>
    <%= yield %>
  </body>

  <footer>

  </footer>
</html>
